.edu {
  width: 100%;
  height: 90px;
  background: #cecece;
  border-radius: 20px;
  padding: 10px;
}

.edu > h2 {
    font-weight: bold;
  padding-left: 20px;
  font-size: x-large;
  color: black;
  letter-spacing: 9px;
}

.edu > .inner-wrapper {
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.inner-wrapper > .inner {
  line-height: 1.5em;
  font-size: larger;
}
