.container {
  padding: 10px;
  padding-left: 20px;
  background: #cecece;
  color: black;
  border-radius: 30px;
}
.container .head {
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-top: 5px;
  font-weight: bold;
  font-size: xx-large;
  text-decoration: underline;
}
.container > p {
    font-size: 23px;
}
