.resume {
    background: #081b4e;
    border: 30px solid blue;
    border-radius: 30px;
    margin-top: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 80%;
}

.first {
    display: grid;
    grid-template-columns: 1fr 3fr;
}